html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --GREY_1: #f2f2f2;
  --GREY_2: #cccccc;
  --GREY_3: #666666;
  --GREY_4: #333333;
  --GREEN: #799b70;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
textarea {
  border: none;
}

.section-title {
  font-size: 14px;
  color: var(--GREY_4);
  font-weight: 500;
}

/* Form Styles */

.gift-card-form-container {
  display: flex;
  flex-direction: column;
}

.cta-btn {
  width: 140px;
  height: 45px;
  background-color: var(--GREY_4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
  font-size: 12px;
}

.cta-btn:disabled {
  background-color: var(--GREY_3);
  cursor: default;
}

.form-input {
  border: 1px solid var(--GREY_2);
  height: 45px;
  padding-left: 10px;
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  color: var(--GREY_3);
  box-sizing: border-box;
}

.gift-card-form-inputs-container {
  display: flex;
  justify-content: space-between;
}

.left-input {
  flex: 4;
}

.right-input {
  flex: 1;
  margin-left: 10px;
}

.form-instruction-label {
  font-weight: 300;
  color: var(--GREY_3);
  font-size: 12px;
}

/* Checkbox styles */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  user-select: none;
  margin-bottom: 10px;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--GREY_1);
}

.checkbox-container:hover input ~ .checkmark {
  background-color: var(--GREY_2);
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--GREEN);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Gift Card Info */

.gift-card-info-container {
  background-color: var(--GREY_1);
  padding: 0.625em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sub-section-title {
  font-size: 12px;
  font-weight: 400;
  color: var(--GREY_4);
}

.gift-card-number-label {
  font-size: 12px;
  font-weight: 300;
  color: var(--GREY_4);
}

.gift-card-amount-label {
  font-size: 12px;
  font-weight: 700;
  color: var(--GREY_4);
}

@media only screen and (max-width: 768px) {
  .app {
    width: 80vw;
  }
  .gift-card-form-inputs-container {
    flex-direction: column;
  }
  .right-input {
    margin-top: 10px;
    margin-left: 0px;
  }
}
